.CanvasBox {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    // background: #333;

    .HandleGroup {
        width: 300px;
        height: 100%;
        // background: rgba($color: #501F7F, $alpha: 0.6);
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 999;
        pointer-events: none;
        .returnback{
            width: 39px;
            height: 39px;
            position: absolute;
            pointer-events: all;
            right: 15px;
            top: 20px;
            img{
                width: 100%;
            }
        }
        .HandlePosButton {
            width: 30px;
            height: 30px;
            position: absolute;
            pointer-events: all;
            top: 110px;
            right: 15px;
            background: rgba($color: #501F7F, $alpha: 0.3);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
            }
        }

        .scaleUp {
            width: 30px;
            height: 30px;
            position: absolute;
            pointer-events: all;
            top: 160px;
            right: 15px;
            background: rgba($color: #501F7F, $alpha: 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            img {
                width: 80%;
            }
        }

        .scaleDown {
            width: 30px;
            height: 30px;
            position: absolute;
            pointer-events: all;
            top: 190px;
            right: 15px;
            background: rgba($color: #501F7F, $alpha: 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            img {
                width: 80%;
            }
        }

        .HandlePenBox{
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            background: rgba($color: #501F7F, $alpha: 0.3);
            border-radius: 100% 0 0 0;
            .PenButtonBox{
                width: 28px;
                height: 28px;
                position: absolute;
                pointer-events: all;
                &:focus{
                    .DropBox{
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
                .DropBox{
                    display: none;
                    width: 200px;
                    // height: 300px;
                    background: #fff;
                    position: absolute;
                    top: 0px;
                    left: 0%;
                    transform: translateY(-100%) translateX(-100%);

                    .handleicon{
                        width: 46px;
                        height: 46px;
                        margin: 2px;
                        box-shadow:rgba($color: #000000, $alpha: 0.3) 0 0 0 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .actbutton{
                        box-shadow: #501F7F 0 0 0 2px;
                    }
                }
            }
            img{
                width: 28px;
                filter: drop-shadow(#fff 0 0 10px);
            }
            div:nth-child(1){
                right: 15px;
                top: 30px;
            }
            div:nth-child(2){
                right: 50px;
                top: 41px;
            }
            div:nth-child(3){
                right: 80px;
                top: 64px;
            }
            div:nth-child(4){
                right: 111px;
                top: 94px;
            }
            div:nth-child(5){
                right: 130px;
                top: 127px;
            }
            div:nth-child(6){
                right: 137px;
                top: 165px;
            }
        }
    }
}